/* CSS Goes here */
.enrollment-progress {
  min-width:50%;
}

.enrollment-progress thead {
  background-color: #5e5e5e;
  font-size:18px;
  font-weight: bold;
  color: #fff;
}

.enrollment-progress tr td {
  padding: 10px;
  font-size: 14px;
}
